*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.topo-loja {
    background-color: rgb(67, 67, 255);
    color: white;
    padding: 20px;
    text-align: center;

}

#bt_menu, #label-menu{
    display: none;
}

#menu ul {
    list-style: none;
    margin-top: 10px;
}

#menu li {
    display: inline-block;
    margin: 0 10px;
    color: white;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#secao-massas h2 {
    text-align: center;
    color: rgb(67, 67, 255);
}